<div class="row">
    <div class="large-12 columns">
        <img src="/assets/logo.png"/>
    </div>
</div>
<div class="row">
    <div class="large-3 columns">
        <ul class="shopnav">
            <%= render partial: 'navigation' %>
        </ul>
    </div>
    <div id="items" class="large-9 columns items">
        <% @items.each do |item| %>
            <div class="large-3 columns item">
                <div class="row">
                    <div class="large-12 columns">
                        <%= item.translations.find_by_language_id(session[:language_id]).title %>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <%= image_tag('items/' + item.imgSrc) %>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <%= link_add_to_cart(item.id) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="cart" class="large-3 columns">
      <div id="shoppingcart">

      </div>
      <%= link_to_clear_cart "Clear Cart" %>
      <%= link_to "Order Now!", new_order_path, class: "button" %>
    </div>
</div>