<div class="row">
    <div class="large-12 columns">
        <h1><%= t('my_orders') %></h1>

        <table>
            <thead>
            <tr>
                <th><%= t('order') %></th>
                <th><%= t('order_date') %></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td>#<%= order.id %></td>
                    <td><%= order.created_at %></td>
                    <td><%= link_to t('show_quote'), "/orders/#{order.id}.pdf", target: "_blank" %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>