<div class="row">
    <div class="large-12 columns">
        <h4><%= t('shipping_address') %></h4>
        <ul class="vcard">
            <li class="fn"><%= "#{current_user.user_info.firstName} #{current_user.user_info.lastName}" %></li>
            <li class="street-address"><%= "#{current_user.user_info.street}" %></li>
            <li><span class="zip"><%= "#{current_user.user_info.zip}" %></span>
                <span class="state"><%= "#{current_user.user_info.place}" %></span></li>
            <li class="phone"><%= "#{current_user.user_info.phone}" %></li>
        </ul>


        <h4><%= t('order') %></h4>

        <div>
            <table>
                <tr>
                    <th><%= t('quantity') %></th>
                    <th><%= t('title') %></th>
                    <th><%= t('total_price') %></th>
                </tr>
                <% @items.each do |item| %>
                    <tr>
                        <td><%= @carthash[item.id] %></td>
                        <td><%= item.translations.find_by_language_id(session[:language_id]).title %></td>
                        <td><%= item.price * @carthash[item.id] %></td>
                    </tr>
                <% end %>
            </table>

        </div>
        <%= render 'form' %>
    </div>
</div>