<% if @order.nil?
     @order = order
end %>
<% total = 0.0 %>
<h1>Order #<%= @order.id %></h1>
<table>
  <th>Quantity</th>
  <th>Title</th>
  <th>Single Price</th>
  <th>Total Price</th>
  <% @order.item_orders.each do |item|  %>
  <tr>
    <td><%= item.quantity %></td>
    <td><%= item.item.translations.find_by(language_id: 1).title %></td>
    <td><%= item.item.price %></td>
    <td><%= (item.quantity) * item.item.price %></td>
    <%- total += (item.quantity) * item.item.price %>
  </tr>
  <% end %>
</table>

<p>Total Price $<%= total %></p>
