<div class="row">
    <h2><%= t('sign_in') %></h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="large-12 columns">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true %>
        </div>

        <div class="large-12 columns">
            <%= f.label t('password') %>
            <%= f.password_field :password %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="large-12 columns">
                <%= f.check_box :remember_me %><%= f.label t('remember_me') %>
            </div>
        <% end -%>

        <div class="large-12 columns">
            <%= f.submit t('sign_in'), :class => 'button' %>
        </div>
    <% end %>

    <div class="large-12 columns">
    <%= render "devise/shared/links" %>
        </div>
</div>