<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :translations do |builder| %>
        <%=  builder.label :language %>
        <%=  builder.text_field :language %>
        <%=  builder.label :name %>
        <%=  builder.text_field :name %>
  <%= builder.check_box :_destroy %>
  <%= builder.label :_destroy, "Remove Question" %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
