<div class="fields large-12 columns">
    <div class="large-2 columns">
        <%= f.label :language %>
        <%= f.select :language_id, @language.collect { |l| [l.language, l.id] } %>
    </div>
    <div class="large-4 columns">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="large-4 columns">
        <%= link_to_remove_fields "remove", f %>
    </div>
</div>