<div class="row">
    <div class="large-12 columns">
        <h1>Listing categories</h1>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
            <% @categories.each do |category| %>
                <tr>
                    <td><%= category.id %></div>
                    <td><%=  category.translations.map(&:name).join(' / ') %></td>
                    <td><%= link_to 'Edit', edit_category_path(category) %></td>
                    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <div class="large-12 columns">
        <%= link_to 'New Category', new_category_path, class: 'button' %>
    </div>
</div>